<!-- About -->
<section class="page-section" id="{{ site.data.sitetext[site.locale].about.section | default: "about" }}">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">{{site.data.sitetext[site.locale].about.title}}</h2>
          <h3 class="section-subheading text-muted">{{site.data.sitetext[site.locale].about.subtitle}}</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 mx-auto text-left">
          <p class="large text-muted">After six years of serving in the military, where I honed skills like discipline, problem-solving, and adaptability, I transitioned into software development. Over the past decade, I've specialized in crafting robust, scalable, and efficient solutions for businesses across various industries.</p>
          <p class="large text-muted">With extensive experience in PHP and Magento 2, I've tackled everything from custom development to large-scale eCommerce migrations. My goal is to leverage my expertise to deliver impactful results, allowing my clients to focus on what they do best.</p>
          <p class="large text-muted">Let's build something great together.</p>
        </div>
        <div class="col-lg-4 text-center">
            <img class="img-fluid d-block mx-auto" src="{{site.data.sitetext[site.locale].about.photo}}" alt="A handsome man">
        </div>
      </div>
    </div>
</section>
<!-- End About -->